Execice 1

In [50]:
product_list_with_price={};
product_list=[]

In [51]:
def add_new_product(nom, prix):
    product_list_with_price[nom] = prix;
    product_list.append(nom);

In [52]:
add_new_product('mangue', 100);
add_new_product('pomme', 150);
add_new_product('carrot', 75);
add_new_product('citron', 25);
add_new_product('avocat', 175);
add_new_product('igname', 1000);

In [54]:
product_list_with_price

{'mangue': 100,
 'pomme': 150,
 'carrot': 75,
 'citron': 25,
 'avocat': 175,
 'igname': 1000}

In [55]:
product_list

['mangue', 'pomme', 'carrot', 'citron', 'avocat', 'igname']

In [62]:
def change_price_of_product(nom_product, new_price):
    i = j = 0;
    for i in range(len(product_list)):
        if product_list[i] == nom_product:
            product_list_with_price[product_list[i]] = new_price;
            return product_list_with_price[product_list[i]];

In [63]:
change_price_of_product('mangue', 200);

In [64]:
product_list_with_price[product_list[0]]

200

In [65]:
product_list_with_price

{'mangue': 200,
 'pomme': 150,
 'carrot': 75,
 'citron': 25,
 'avocat': 175,
 'igname': 1000}

In [66]:
def consult_price_of_product(nom_product):
    i = j = 0;
    for i in range(len(product_list)):
        if product_list[i] == nom_product:
            return product_list_with_price[product_list[i]];

In [67]:
consult_price_of_product('pomme')

150

Exercice 2

In [68]:
phone_list_with_owner = {};
owner_list = [];

In [86]:
def add_new_name_in_list(nom, phone):
    phone_list_with_owner[nom] = phone;
    owner_list.append(nom);

In [87]:
add_new_name_in_list('David', 61088061);
add_new_name_in_list('Franck', 81201563);
add_new_name_in_list('Duamel', 71201563);
add_new_name_in_list('Yann', 91200563);
add_new_name_in_list('Honorat', 62201563);
add_new_name_in_list('Andy', 61211463);
add_new_name_in_list('Mike', 61801963);

In [88]:
phone_list_with_owner

{'David': 61088061,
 'Franck': 81201563,
 'Duamel': 71201563,
 'Yann': 91200563,
 'Honorat': 62201563,
 'Andy': 61211463,
 'Mike': 61801963}

In [89]:
owner_list

['David', 'Franck', 'Duamel', 'Yann', 'Honorat', 'Andy', 'Mike']

In [92]:
def check_phone(nom):
    i = 0;
    for i in range(len(owner_list)):
        if owner_list[i] == nom:
            return print(phone_list_with_owner[owner_list[i]]);

In [93]:
check_phone('David');

61088061

In [94]:
def check_name(phone):
    i = 0;
    for i in range(len(owner_list)):
        if phone_list_with_owner[owner_list[i]] == phone:
            return print(owner_list[i]);

In [95]:
check_name(61088061);

David

In [96]:
def print_all_list():
    return print(phone_list_with_owner);

In [97]:
print_all_list()

{'David': 61088061, 'Franck': 81201563, 'Duamel': 71201563, 'Yann': 91200563, 'Honorat': 62201563, 'Andy': 61211463, 'Mike': 61801963}

Exercice 3

In [99]:
list_words = ['David', 'Franck', 'papaye', 'tomate', 'azertyu', 'qsdfghj', "az"];
list_lenght = [];
for i in range(len(list_words)):
    list_lenght.append(len(list_words[i]));
for lenght, word in zip(list_lenght, list_words):
    print(word, 'a pour longueur ', lenght);

David a pour longueur  5
Franck a pour longueur  6
papaye a pour longueur  6
tomate a pour longueur  6
azertyu a pour longueur  7
qsdfghj a pour longueur  7
az a pour longueur  2

Exercice 4

In [110]:
liste = ['azerty', 'poa', 'qsdfg', 'banane', 'goyave', 'bg', 'azertyqsdfgh', 'anticonstitutionnellement', "inimaginable"];
def find_longest_word(list_of_word):
    i = 0;
    max_lenght = 0;
    for i in range(len(list_of_word)):
        if max_lenght <= len(list_of_word[i]):
            max_lenght = len(list_of_word[i]);
    return print(max_lenght);

In [111]:
find_longest_word(liste);

25

Exercice 6

In [113]:
values_list = ['azer', 2, 'papa', 'tomate', 'goy', '5'];

In [119]:
def is_member(x, liste):
    i = j = 0;
    for i in range(len(liste)):
        if liste[i] == x:
            return print('True');
    return print('False');

In [122]:
is_member(9, values_list);

False

Exercice 7

In [129]:
def histogram(liste):
    i = j = 0;
    for i in range(len(liste)):
        print(liste[i] * '*');
        print("\t");

In [130]:
histogram([4,9,6]);

****

*********

******

Exercice 8

In [133]:
Amour = {
    "name": "Amour",
    "homework": [90.0,97.0,75.0,92.0],
    "quizzes": [88.0,40.0,94.0],
    "tests": [75.0,90.0]
};

Paix = {
    "name": "Paix",
    "homework": [100.0, 92.0, 98.0, 100.0],
    "quizzes": [82.0, 83.0, 91.0],
    "tests": [89.0, 97.0]
};

Foi = {
    "name": "Foi",
    "homework": [0.0, 87.0, 75.0, 22.0],
    "quizzes": [0.0, 75.0, 78.0],
    "tests": [100.0, 100.0]
};

students = [Amour, Paix, Foi];

In [140]:
def print_student():
    i = 0;
    for i in range(len(students)):
        print("==========================");
        print('Nom:' , students[i]['name']);
        print('homework: ', students[i]['homework']);
        print('quizzes : ', students[i]['quizzes']);
        print('tests :', students[i]['tests']);
        print("==========================");

In [141]:
print_student();

==========================
Nom: Amour
homework:  [90.0, 97.0, 75.0, 92.0]
quizzes :  [88.0, 40.0, 94.0]
tests : [75.0, 90.0]
==========================
==========================
Nom: Paix
homework:  [100.0, 92.0, 98.0, 100.0]
quizzes :  [82.0, 83.0, 91.0]
tests : [89.0, 97.0]
==========================
==========================
Nom: Foi
homework:  [0.0, 87.0, 75.0, 22.0]
quizzes :  [0.0, 75.0, 78.0]
tests : [100.0, 100.0]
==========================

In [165]:
def average(list_of_numbers):
    i  = averag = total = 0;
    total = sum(list_of_numbers);
    averag = total / len(list_of_numbers);
    return  averag;

In [166]:
result = average([10, 11]);

In [161]:
def get_average(student):
    homework = average(student["homework"]);
    quizzes = average(student["quizzes"]);
    tests = average(student["tests"]);
    somme = homework * 0.1 + quizzes * 0.3 + tests * 0.6;
    return print(somme);

In [162]:
get_average(Amour);

80.55